@model IEnumerable<TestDynamicViews.Data.Employee>
@{
    Layout = null;
    ViewBag.Title = "List of Employees";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>List of Employees</h1>
    <h2>This is just a plain old boring view.</h2>
    <table>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
            </tr>
        }
    </table>
</body>
</html>
